.pet-lectures {
  margin-top: 10px;
  width: 90%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .pet-lectures {
    margin-top: 30px;
    width: 75%;
  }
}

.pet-lectures h2 {
  font-size: 20pt;
}

.pet-lectures h4 {
  font-size: 15pt;
  line-height: 1.8em;
}

.pet-lectures p {
  font-size: 12pt;
  line-height: 1.8em;
}

.pl-items {
  margin-top: 40px;
  margin-bottom: 15px;
}
